{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign posts_displayed = section.settings.blog.articles_count
  if section.settings.post_limit <= section.settings.blog.articles_count or section.settings.post_limit <= 4
    assign posts_exceed_limit = true
    assign posts_displayed = section.settings.post_limit
  endif
-%}
<div class="blog color-{{ section.settings.color_scheme }} gradient{% if section.settings.heading == blank %} no-heading{% endif %}">
  <div class="page-width isolate{% if posts_displayed < 3 %} page-width-tablet{% endif %} section-{{ section.id }}-padding">
    <div class=" title-wrapper title-wrapper--no-top-margin page-width{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
      {%- if section.settings.title != blank -%}
        <h2 class="title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ section.settings.title }}
        </h2>
      {%- endif -%}
      {%- if section.settings.description != blank
      -%}
        <div class="collection__description {{ section.settings.description_style }} rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ section.settings.description -}}
        </div>
      {%- endif -%}
    </div>

 
      <div
        id="Slider-{{ section.id }}"
        class="blog__posts articles-wrapper contains-card contains-card--article{% if settings.blog_card_style == 'standard' %} contains-card--standard{% endif %} grid  grid--2-col-tablet grid--{{ section.settings.columns_desktop }}-col-desktop slider "
        role="list"
        data-slick='{
                      "dots": false,
                      "arrows": true,
                      "infinite": false,
                      "autoplay": false,
                      "mobileFirst": true,
                      "adaptiveHeight": false,
                      "slidesToShow": {{ section.settings.columns_desktop }},
                      "slidesToScroll": {{ section.settings.columns_desktop }},
                      "prevArrow": "<div class=&apos;slick-prev slick-arrow slick-arrow--large&apos;><svg xmlns=&apos;http://www.w3.org/2000/svg&apos; height=&apos;24px&apos; viewBox=&apos;0 -960 960 960&apos; width=&apos;24px&apos; fill=&apos;#1f1f1f&apos;><path d=&apos;M560-276 356-480l204-204 20 20-184 184 184 184-20 20Z&apos;/></svg></div>", 
              "nextArrow": "<div class=&apos;slick-next slick-arrow slick-arrow--large&apos;><svg xmlns=&apos;http://www.w3.org/2000/svg&apos; height=&apos;24px&apos; viewBox=&apos;0 -960 960 960&apos; width=&apos;24px&apos; fill=&apos;#1f1f1f&apos;><path d=&apos;M540-480 356-664l20-20 204 204-204 204-20-20 184-184Z&apos;/></svg></div>",
                      "responsive": [
                          {
                              "breakpoint": 1100,
                              "settings": {
                                  "slidesToShow": {{ section.settings.columns_desktop }},
                                  "slidesToScroll": {{ section.settings.columns_desktop }},
                                  "dots": false,
                                  "arrows": true
                              }
                          },
                          {
                              "breakpoint": 992,
                              "settings": {
                                  "slidesToScroll": 2,
                                  "slidesToShow": 2,
                                  "arrows": false,
                                  "dots": true
                              }
                          },
                          {
                              "breakpoint": 551,
                              "settings": {
                                  "slidesToScroll": 1,
                                  "slidesToShow": 1,
                                  "arrows": false,
                                  "dots": true
                              }
                          },
                          {
                              "breakpoint": 300,
                              "settings": {
                                  "slidesToScroll": 1,
                                  "slidesToShow": 1,
                                  "arrows": false,
                                  "dots": true
                              }
                          }
                      ]
                  }'
      >
        {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
          {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
            <div
              
              class="  blog__post grid__item article slider__slide slider__slide--full-width">
              {% render 'article-card',
                blog: section.settings.blog,
                article: article,
                media_aspect_ratio: 1.66,
                show_image: section.settings.show_image,
                show_date: section.settings.show_date,
                show_author: section.settings.show_author,
                show_excerpt: true
              %}
            </div>
          {%- endfor -%}
        {%- else -%}
          {% for i in (1..section.settings.post_limit) -%}
            {%- assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1 -%}
            {%- assign placeholder_image = 'blog-apparel-' | append: placeholder_image_index -%}
            <div
              id="Slide-{{ section.id }}-{{ forloop.index }}"
              class=" type1  blog__post grid__item article slider__slide slider__slide--full-width" >
              <div class="article-card-wrapper card-wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                <div
                  class="
                    card article-card card--{{ settings.blog_card_style }}
                    {% if settings.blog_card_style == 'card' %} color-{{ settings.blog_card_color_scheme }} gradient{% endif %}
                    {% if section.settings.show_image %} card--media{% else %} card--text{% endif %}
                  "
                  style=" {% if settings.blog_card_style == 'standard' %} --ratio-percent: 100%;{% elsif settings.blog_card_style == 'card' %} --ratio-percent: 0%;{% endif %}"
                >
                  <div
                    class="card__inner{% if settings.blog_card_style == 'standard' %} color-{{ settings.blog_card_color_scheme }} gradient{% endif %} ratio"
                    style="--ratio-percent: 80%;"
                  >
                    {%- if section.settings.show_image == true -%}
                      <div class="article-card__image-wrapper card__media">
                        <div class="article-card__image media">
                          {{ placeholder_image | placeholder_svg_tag: 'blog-placeholder-svg' }}
                        </div>
                      </div>
                    {%- endif -%}
                    <div class="card__content">
                      <div class="card__information text-center">
                        <h3 class="card__heading h2">
                          {{ 'sections.featured_blog.onboarding_title' | t }}
                        </h3>
                        <p class="article-card__excerpt rte-width">
                          {{ 'sections.featured_blog.onboarding_content' | t }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card__content">
                    <div class="card__information text-center">
                      <h3 class="card__heading h2">
                        {{ 'sections.featured_blog.onboarding_title' | t }}
                      </h3>
                      <p class="article-card__excerpt rte-width">
                        {{ 'sections.featured_blog.onboarding_content' | t }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {%- endfor -%}
        {%- endif -%}
      </div>
      

    {%- if section.settings.show_view_all and section.settings.post_limit < section.settings.blog.articles_count -%}
      <div
        class="blog__view-all center small-hide medium-hide{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        <a
          href="{{ section.settings.blog.url }}"
          id="ViewAll-{{ section.id }}"
          class="blog__button button"
          aria-labelledby="ViewAll-{{ section.id }} SectionHeading-{{ section.id }}"
        >
          {{ 'sections.featured_blog.view_all' | t }}
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
   {
    "type": "inline_richtext",
    "id": "title",
    "default": "Blog posts",
    "label": "t:sections.featured-collection.settings.title.label"
  },
  {
    "type": "select",
    "id": "heading_size",
    "options": [
      {
        "value": "h2",
        "label": "t:sections.all.heading_size.options__1.label"
      },
      {
        "value": "h1",
        "label": "t:sections.all.heading_size.options__2.label"
      },
      {
        "value": "h0",
        "label": "t:sections.all.heading_size.options__3.label"
      },
      {
        "value": "hxl",
        "label": "t:sections.all.heading_size.options__4.label"
      },
      {
        "value": "hxxl",
        "label": "t:sections.all.heading_size.options__5.label"
      }
    ],
    "default": "h1",
    "label": "t:sections.all.heading_size.label"
  },
  {
    "type": "richtext",
    "id": "description",
    "label": "t:sections.featured-collection.settings.description.label"
  },
  {
    "type": "select",
    "id": "description_style",
    "label": "t:sections.featured-collection.settings.description_style.label",
    "options": [
      {
        "value": "body",
        "label": "t:sections.featured-collection.settings.description_style.options__1.label"
      },
      {
        "value": "subtitle",
        "label": "t:sections.featured-collection.settings.description_style.options__2.label"
      },
      {
        "value": "uppercase",
        "label": "t:sections.featured-collection.settings.description_style.options__3.label"
      }
    ],
    "default": "body"
  },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
          "type": "select",
          "id": "shape",
          "options": [
            {
              "value": "type1",
              "label": "Type 1"
            },
            {
              "value": "type2",
              "label": "Type 2"
            },
            {
              "value": "type3",
              "label": "Type 3"
            },
            {
              "value": "type4",
              "label": "Type 4"
            },
            {
              "value": "type5",
              "label": "Type 5"
            },
            {
              "value": "type6",
              "label": "Type 6"
            },
            {
              "value": "type7",
              "label": "Type 7"
            },
            {
              "value": "type8",
              "label": "Type 8"
            },
            {
              "value": "type9",
              "label": "Type 9"
            },
            {
              "value": "type10",
              "label": "Type 10"
            }
          ],
          "default": "type1",
          "label": "Shape for collection banner"
        },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.columns_desktop.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_image.label",
      "info": "t:sections.featured-blog.settings.show_image.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_view_all.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name"
    }
  ]
}
{% endschema %}
