{% if section.blocks.size > 0 %}
{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'section-image-banner-overlay.css' | asset_url | stylesheet_tag }}
<div class="image-banner-overlay" id="image-banner-overlay-{{section.id}}">
  {% style %}
    #image-banner-overlay-{{section.id}} .image-banners-grid {
      grid-template-columns: repeat({{ section.settings.column }}, 1fr);
    }

    @media(max-width: 749px) {
      #image-banner-overlay-{{section.id}} .image-banners-grid {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  {% endstyle %}
  <div class="page-width">
<div class="image-banners-grid">
{%- for block in section.blocks -%}

<div
  id="Banner-{{ section.id }}-{{ block.id }}"
  class="banner banner--{{block.settings.image_height}} banner--content-align-{{ block.settings.desktop_content_alignment }} banner--content-align-mobile-{{ block.settings.mobile_content_alignment }} banner--{{ block.settings.image_height }}{% if block.settings.stack_images_on_mobile and block.settings.image != blank  %} banner--stacked{% endif %}{% if block.settings.image_height == 'adapt' and block.settings.image != blank %} banner--adapt{% endif %}{% if block.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if block.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
>
{%- if block.settings.image_height == 'adapt' and block.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}-{{ block.id }}::before,
      #Banner-{{ section.id }}-{{ block.id }} .banner__media::before,
      #Banner-{{ section.id }}-{{ block.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}-{{ block.id }}::before,
      #Banner-{{ section.id }}-{{ block.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}-{{ block.id }}::after {
    opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

  if block.settings.image_behavior == 'ambient'
    assign half_width = '60vw'
    assign full_width = '120vw'
    assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
    assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
  elsif block.settings.image_behavior == 'fixed' or block.settings.image_behavior == 'zoom-in'
    assign half_width = '100vw'
    assign stacked_sizes = '100vw'
  else
    assign half_width = '50vw'
    assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
  endif
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}
  {%- if block.settings.image != blank -%}
    <div class="banner__media media{% if block.settings.image == blank  %} placeholder {% endif %} {% if block.settings.image_behavior != 'none' %} animate--{{ block.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- liquid
        assign image_height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio
        assign sizes = full_width
      -%}
      {{
        block.settings.image
        | image_url: width: 3840
        | image_tag:
          width: block.settings.image.width,
          height: image_height,
          class: image_class,
          sizes: sizes,
          widths: widths,
          fetchpriority: fetch_priority
      }}
    </div>
  {%- else -%}
    <div class="banner__media media{% if block.settings.image == blank %} placeholder{% endif %}{% if block.settings.image_behavior != 'none' %} animate--{{ block.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}
  <div class="banner__content banner__content--{{ block.settings.desktop_content_position }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div class="banner__box content-container content-container--full-width-mobile color-{{ block.settings.color_scheme }} gradient">
        
      <h3
        class="banner__heading inline-richtext {{ block.settings.heading_size }}"
        {{ block.shopify_attributes }}
      >
        {{ block.settings.heading }}
      </h3>
   
      <div class="banner__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
        <p>{{ block.settings.text }}</p>
      </div>
    
      <div
        class="banner__buttons{% if block.settings.button_label != blank %} banner__buttons--multiple{% endif %}"
        {{ block.shopify_attributes }}
      >
        {%- if block.settings.button_label != blank -%}
          <a
            {% if block.settings.button_link == blank %}
              role="link" aria-disabled="true"
            {% else %}
              href="{{ block.settings.button_link }}"
            {% endif %}
            class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
          >
            {{- block.settings.button_label | escape -}}
          </a>
        {%- endif -%}
        
      </div>
     
    </div>
  </div>
</div>
{%- endfor -%}
</div>
</div>
</div>
{% endif %}
{% schema %}
{
  "name": "Image Banner Overlay",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
     {
          "type": "range",
          "id": "column",
          "label": "Column",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 2
      }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
          "default": 0
        },
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.image-banner.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.image-banner.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.image-banner.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-banner.settings.image_height.options__4.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-banner.settings.image_height.label"
        },
        {
          "type": "select",
          "id": "image_behavior",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.animation.image_behavior.options__1.label"
            },
            {
              "value": "ambient",
              "label": "t:sections.all.animation.image_behavior.options__2.label"
            },
            {
              "value": "fixed",
              "label": "t:sections.all.animation.image_behavior.options__3.label"
            },
            {
              "value": "zoom-in",
              "label": "t:sections.all.animation.image_behavior.options__4.label"
            }
          ],
          "default": "none",
          "label": "t:sections.all.animation.image_behavior.label"
        },
        {
          "type": "header",
          "content": "t:sections.image-banner.settings.content.content"
        },
        {
          "type": "select",
          "id": "desktop_content_position",
          "options": [
            {
              "value": "top-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
            },
            {
              "value": "top-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
            },
            {
              "value": "top-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
            },
            {
              "value": "middle-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
            },
            {
              "value": "middle-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
            },
            {
              "value": "middle-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
            },
            {
              "value": "bottom-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
            },
            {
              "value": "bottom-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
            },
            {
              "value": "bottom-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
            }
          ],
          "default": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.label"
        },
        {
          "type": "select",
          "id": "desktop_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
        },
        {
          "type": "checkbox",
          "id": "show_text_box",
          "default": true,
          "label": "t:sections.image-banner.settings.show_text_box.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        },
        {
          "type": "header",
          "content": "t:sections.image-banner.settings.mobile.content"
        },
        {
          "type": "checkbox",
          "id": "stack_images_on_mobile",
          "default": true,
          "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
        },    
        {
          "type": "select",
          "id": "mobile_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
        },
        {
          "type": "checkbox",
          "id": "show_text_below",
          "default": true,
          "label": "t:sections.image-banner.settings.show_text_below.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.image-banner.blocks.heading.settings.heading.default",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "t:sections.image-banner.blocks.text.settings.text.default",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.image-banner.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Banner Overlay",
      "blocks": [
        {
          "type": "block"
        },
        {
          "type": "block"
        },
        {
          "type": "block"
        },
        {
          "type": "block"
        }
      ]
    }
  ]
}
{% endschema %}
